
@font-face {
  font-family: Merriweatheritalic;
  src: url(../fonts/Merriweather-Italic.ttf);
}

.typeahead,
.tt-query,
.tt-hint {
  padding: 8px 12px;
  font-size: 4vh;
  /* text-align: center;*/
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
  width: 305px;
  height: 60px;
  line-height: 30px;
  border: 2px solid #ccc; 
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {
  width: 310px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
 width: 310px;
}

.tt-suggestion.tt-cursor, .tt-suggestion:hover {
  background-color: #0097cf;

}


.input-group{
  margin: auto;
  font-family: Merriweatheritalic;
}

tt-highlight{
  color:red;
}
header {
  background-image: url(../img/rideauAccueil.jpg);
  background-size: cover;
  background-repeat: no-repeat ;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

header .headcontent {
  text-align: center;
  color: #FFFFFF;
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

h1{
  font-family: Merriweatheritalic;
  font-size: 8vh;
  margin-bottom: 10%;
}

main{
  background-image: url(../img/page1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding-bottom: 89px;
}

main p{
  color: #FFFFFF;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4%;
  font-family: Merriweatheritalic;
  font-size: 3vh;
  margin-bottom: 10%;
} 

label{
  color: #FFFFFF;
  font-family: Merriweatheritalic;
}

footer{
  background-color: #000000;
  color:#FFFFFF;
  padding-top: 0.5%;
  height:89px;
  position:absolute;
  bottom: 0%;
  width: 100%;
}
.textFoot{
  text-align: center;
}
.test{
  padding-top: 1%;
  padding-bottom: %;
  margin: auto;
  width: 500px;
  height: 70px;
}
.icons{
  display: inline;
  width: 150px;
  float:right;
}
.git{
  padding-bottom: 0.3%;
  height: 30%;
  width: 30%;
  fill: #FFFFFF;
}
.twitt{
  height: 33%;
  width: 33%;
  fill: #FFFFFF;
}

#wrap{
  min-height: 100%;
  position:relative;
}




