<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Projet Data">
	<meta name="author" content="Ali, Aude, Jules et Pauline">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Projet Data</title>

	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



	<link rel="stylesheet" type="text/css" href="assets/css/style.css">




</head>

<body>

	<script>
/*function scrollWin() {
    window.scrollBy(0, 1000);
     behavior: 'smooth';
 }*/
</script>
<header>
	<div class="headcontent">
		<h1>Hallotheatre!</h1>
		<a href="#machin">
			<svg height="50px" version="1.1" viewBox="0 0 20 20" width="50px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><defs/>
				<g fill="none" fill-rule="evenodd" id="Icons with numbers" stroke="none" stroke-width="1">
					<g fill="#ffffff" id="Group" transform="translate(-48.000000, -144.000000)">
						<path d="M54,153 L54,147 L58,147 L58,153 L60,153 L56,158 L52,153 L54,153 L54,153 Z M56,144 C51.5,144 48,147.5 48,152 C48,156.5 51.5,160 56,160 C60.5,160 64,156.5 64,152 C64,147.5 60.5,144 56,144 L56,144 Z M56,144" id="Shape"/></g></g>
					</a>
				</svg>
			</div>
		</header>
		<main>
			<p>
				"Hallotheatre" est le nouveau moteur de recherche révolutionnaire permettant de filtrer en fonction de votre code postal l'ensemble des salles de spectacles contemporains. Entrez votre code postal et laissez vous transporter vers votre salle de spectacle...!
			</p>
					<div class="input-group" id="machin" >
						<div id="remote" >
							<label for="zip_code"></label>
							<input  class="typeahead" type="text" class="form-control typeahead" id="zip_code" placeholder="Entrez ici votre code postal">
						</div>
			</div>

		</main>
		<footer>
		</footer>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="assets/js/typeahead.jquery.min.js"></script>
		<script scr="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="assets/js/typeahead.bundle.min.js"></script>
		<script src="assets/js/bloodhound.min.js"></script>
		<script src="assets/js/good.js"></script>



		

	</body>

	</html>
