<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Projet Data">
		<meta name="author" content="Ali, Aude, Jules et Pauline">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>Projet Data</title>
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>

	<body>
		<header>
			<div class="headcontent">
				<h1>allotéatreuuu !</h1>
				<svg height="16px" version="1.1" viewBox="0 0 16 16" width="16px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><defs/>
					<g fill="none" fill-rule="evenodd" id="Icons with numbers" stroke="none" stroke-width="1">
					<g fill="#000000" id="Group" transform="translate(-48.000000, -144.000000)">
					<path d="M54,153 L54,147 L58,147 L58,153 L60,153 L56,158 L52,153 L54,153 L54,153 Z M56,144 C51.5,144 48,147.5 48,152 C48,156.5 51.5,160 56,160 C60.5,160 64,156.5 64,152 C64,147.5 60.5,144 56,144 L56,144 Z M56,144" id="Shape"/></g></g>
				</svg>
			</div>
		</header>
		<main>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla interdum efficitur mi, in imperdiet lorem malesuada a. Duis vel pharetra sapien, a gravida arcu.
				Curabitur ac lectus vitae velit varius aliquam sit amet nec nisi.
				Donec diam sem, blandit sed tincidunt eget, placerat non sem.
				Sed bibendum faucibus justo sit amet maximus.
			</p>
			<div class="col-md-5">
    	<div class="input-group">
				<div id="remote">
			    <label for="zip_code">Zip-code</label>
			    <input class="typeahead" type="text" class="form-control typeahead" id="zip_code" placeholder="Code Postal de votre région..">
			  </div>
    	</div><!-- /input-group -->
  		</div><!-- /.col-lg-6 -->

		</main>
		<footer>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="assets/js/typeahead.jquery.min.js"></script>
		<script src="assets/js/typeahead.bundle.min.js"></script>
		<script src="assets/js/bloodhound.min.js"></script>
		<script src="assets/js/good.js"></script>
	</body>

</html>
